.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding: 0;
}

.reader {
  width: 100%;
  background-color: lightgray;
  max-height: 60vh;
  margin-bottom: 1rem;
}

.scan-region-highlight-svg {
  stroke: white !important;
}

.code-outline-highlight {
  stroke: springgreen !important;
  stroke-width: 15px !important;
}

.manual-input {
  justify-self: center;
}

.result-wrapper {
  justify-self: center;
}

.nav {
  justify-self: center;
  padding: 0.5rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid steelblue;
  border-color: steelblue transparent steelblue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
